.container {
	height: 80vh;
	width: 80vw;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

form {
	justify-self: center;
  	align-self: center;
	grid-row: 1;
	grid-column: 1;
	label {
		font-size: 30px;
	}
	input {
		font-size: 25px;
		max-width: 100%;
	}
}
