<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mb-2">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						{{usuario.nombre}}
					</a>
					<ul class="dropdown-menu points" aria-labelledby="navbarDropdownMenuLink">
						<li><img src="../../assets/images/diamond.png" class="img-fluid" alt="">{{usuario.puntos}}</li>
						<li><span class="badge bg-success">Correctas: {{usuario.correctas}}</span></li>
						<li><span class="badge bg-danger">Erroneas: {{usuario.erroneas}}</span></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
