<nav class="navbar navbar-light bg-light ">
	<div class="container-fluid">
		<div class="col-12 text-center">
			<h1>Concurso de Preguntas Sofka</h1>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row" *ngIf="juego">
		<div class="col-6" *ngIf="correctas > 0"><h4><span class="badge bg-success">Correctas: {{correctas}}</span></h4></div>
		<div class="col-6" *ngIf="erroneas > 0"><h4><span class="badge bg-danger">Erroneas: {{erroneas}}</span></h4></div>
	</div>
	<div class="row" *ngIf="categoria.length && juego == false">
		<div class="col-6"><h3><span class="badge bg-dark">Categoria: {{categoria}}</span></h3></div>
		<div class="col-6"><h3><span class="badge bg-dark">Nivel: {{nivel}}</span></h3></div>
	</div>
	<div class="row mt-3 text-center" *ngIf="pregunta.length && juego == false">
		<h3>{{pregunta}}</h3>
	</div>
	<div class="row" *ngIf="juego">
		<div class="col text-center inicio">
			<img src="../../assets/images/inicio.jpg" class="img-fluid" alt="">
		</div>
	</div>
	<div class="row" *ngIf="imagen.length && juego == false">
		<div class="col text-center">
			<img src="../../assets/images/{{imagen}}" class="img-fluid" alt="">
		</div>
	</div>
	<div class="row text-center mt-5" *ngIf="opciones.length && juego == false">
		<div *ngFor="let opcion of opciones; index as i" class="col-6">
			<button type="button" class="btn btn-outline-primary" (click)="siguiente(i)">{{opcion}}</button>
		</div>
	</div>
	<button type="button" class="btn btn-info" *ngIf="juego" (click)="empezarJuego()">Empezar</button>
</div>
<div class="row mt-3">
	<div class="col-12 text-center">
		<h6>By David Angarita</h6>
	</div>
</div>
