img {
	max-height: 30vh;
}

.inicio img {
	max-height: 50vh;
}

button {
	margin: 10px;
	min-height: 50px;
	min-width: 95%;
}

#empezar {
	margin-top: 30px;
	min-width: 50%;
	min-height: 50px;
}

.badge {
	min-width: 100%;
}

.points {
	h1 {
		color: rgb(139, 14, 14);
	}
	img {
		max-height: 50px;
		margin-right: 20px;
	}
	span {
		text-align: left;
		min-width: 20%;
	}
}
