<div *ngIf="logueado == false" class="login word">
	<app-usuario></app-usuario>
</div>
<div *ngIf="logueado" class="menu">
	<app-menu></app-menu>
</div>
<div class="container" *ngIf="terminado == false && logueado">
	<h1 class="text-center word" *ngIf="juego">Concurso de Preguntas Sofka</h1>
	<div class="row" *ngIf="pregObj.categoria.length && juego == false">
		<div class="col-6 p-2">
			<h3><span class="badge bg-dark">Categoria: {{pregObj.categoria}}</span></h3>
		</div>
		<div class="col-6 p-2">
			<h3><span class="badge bg-dark">Nivel: {{pregObj.nivel}}</span></h3>
		</div>
	</div>
	<div class="row mt-3 text-center word" *ngIf="pregObj.pregunta && juego == false">
		<h3>{{pregObj.pregunta}}</h3>
	</div>
	<div class="row" *ngIf="juego">
		<div class="col text-center inicio">
			<img src="../../assets/images/inicio.jpg" class="img-fluid" alt="">
		</div>
	</div>
	<div class="row" *ngIf="pregObj.imagen.length && juego == false">
		<div class="col text-center">
			<img src="../../assets/images/{{pregObj.imagen}}" class="img-fluid" alt="">
		</div>
	</div>
	<div class="row text-center mt-3" *ngIf="pregObj.opciones.length && juego == false">
		<div *ngFor="let opcion of pregObj.opciones; index as i" class="col-6">
			<button type="button" class="btn btn-info word" (click)="siguiente(i)">{{opcion}}</button>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-12">
			<button id="empezar" type="button" class="btn btn-success" *ngIf="juego" (click)="empezarJuego()">Empezar</button>
		</div>

	</div>
</div>
<div *ngIf="logueado" class="container">
	<div class="row text-left" *ngIf="terminado">
		<div class="col text-center points">
			<h1 class="mb-3">Felicitaciones</h1>
			<h3>Has terminado el concurso</h3>
			<h3>El total ganado es:</h3>
			<h3><img src="../../assets/images/diamond.png" class="img-fluid" alt=""> +{{gemas}}</h3>
			<h2>Historial</h2>
			<h3><span class="badge bg-success">Correctas: {{historico.correctas}}</span></h3>
			<h3><span class="badge bg-danger">Erroneas: {{historico.erroneas}}</span></h3>
			<button type="button" class="btn btn-info" (click)="reiniciar()">Reiniciar</button>
		</div>
	</div>
	<app-footer></app-footer>
</div>

