img {
	max-height: 30vh;
}

.inicio {

	p {
		color: white;
		background-color: rgb(39, 37, 37);
		box-shadow: 0px 5px 5px #888888;
		border-radius: 5px;
		padding: 15px;
		text-align: justify;
		margin-top: 10px;
		font-size: 20px;
	}
}

button {
	margin: 10px;
	min-height: 50px;
	min-width: 95%;
}

.empezar {
	margin-top: 30px;
	min-width: 50%;
	min-height: 50px;
}

.badge {
	min-width: 100%;
}

.points {
	h1 {
		color: rgb(139, 14, 14);
	}
	img {
		max-height: 50px;
		margin-right: 20px;
	}
	span {
		text-align: left;
		min-width: 20%;
	}
}

.word {
	color: black;
	font-weight: bolder;
}
