<div *ngIf="logueado == false" class="login word">
	<app-usuario></app-usuario>
</div>
<div *ngIf="logueado" class="menu">
	<app-menu></app-menu>
</div>
<div class="container" *ngIf="terminado == false && logueado">
	<h1 class="text-center word" *ngIf="juego">Concurso de Preguntas Sofka</h1>
	<div class="row" *ngIf="pregObj.categoria.length && juego == false">
		<div class="col-6 p-2">
			<h3><span class="badge bg-dark">Categoria: {{pregObj.categoria}}</span></h3>
		</div>
		<div class="col-6 p-2">
			<h3><span class="badge bg-dark">Nivel: {{pregObj.nivel}}</span></h3>
		</div>
	</div>
	<div *ngIf="juego == false" class="progress">
		<div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{width: porcentaje + '%'}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
	<div class="row mt-3 text-center word" *ngIf="pregObj.pregunta && juego == false">
		<h3>{{pregObj.pregunta}}</h3>
	</div>
	<div class="row align-content-center inicio" *ngIf="juego">
		<div class="col-md-6 offset-md-3">
			<p class="">
				Bienvenido a concurso de preguntas Sofka por David Angarita.
				A continuación pondrás a prueba tus conocimientos en las categorías: Arte, Ciencia , Deportes, Historia
				y Entretenimiento en las cuales a medida que avanza el juego el nivel de dificultad subirá, tendras 1 minuto para responder las 5 preguntas. Por cada
				pregunta que ganes obtendrás un diamante y los podrás acumular en todas las partidas.
			</p>
		</div>
	</div>
	<div class="row" *ngIf="pregObj.imagen.length && juego == false">
		<div class="col text-center">
			<img src="../../assets/images/{{pregObj.imagen}}" class="img-fluid" alt="">
		</div>
	</div>
	<div class="row text-center mt-3" *ngIf="pregObj.opciones.length && juego == false">
		<div *ngFor="let opcion of pregObj.opciones; index as i" class="col-6">
			<button type="button" class="btn btn-info word" (click)="siguiente(i)">{{opcion}}</button>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-12">
			<button type="button" class="btn btn-success empezar" *ngIf="juego"
				(click)="empezarJuego()">Empezar</button>
		</div>
	</div>
</div>
<div *ngIf="logueado" class="container">
	<div class="row text-left" *ngIf="terminado">
		<div class="col text-center points">
			<h1 class="mb-3" *ngIf="perdida == false">Felicitaciones</h1>
			<h1 class="mb-3" *ngIf="perdida">Que mal! 😟</h1>
			<h3>Has terminado el concurso</h3>
			<h3>El total ganado es:</h3>
			<h3><img src="../../assets/images/diamond.png" class="img-fluid" alt=""> +{{gemas}}</h3>
			<h2>Historial</h2>
			<h3><span class="badge bg-success">Correctas: {{historico.correctas}}</span></h3>
			<h3><span class="badge bg-danger">Erroneas: {{historico.erroneas}}</span></h3>
			<button type="button" class="btn btn-info empezar" (click)="reiniciar()">Reiniciar</button>
		</div>
	</div>
	<app-footer></app-footer>
</div>
